{% extends "::base.html.twig" %}

{% block title %}TablelessCoreBundle:IndexControler:index{% endblock %}

{% block body %}
    <h1>Welcome to the IndexControler:index page</h1>

    {{ dump(posts) }}

{% endblock %}
