{% extends "::base.html.twig" %}

{% block title %}TablelessCoreBundle:IndexControler:show{% endblock %}

{% block body %}
    <h1>Welcome to the IndexControler:show page</h1>

    {{ dump(post) }}

{% endblock %}
